/Data/Empty_11.csv
/Data/Empty_Amp_1.csv
/Data/Empty_Amp_2.csv
/Data/Empty_Amp_3.csv
/Data/Empty_Amp_4.csv
/Data/Empty_Amp_5.csv
/Data/Empty_Amp_6.csv
/Data/Empty_Amp_7.csv
/Data/Empty_Amp_8.csv
/Data/Empty_Amp_9.csv
/Data/Empty_Amp_10.csv
/Data/Empty_Amp_11.csv
/Data/Empty_Amp_12.csv
/Data/Empty_Amp_13.csv
/Data/Empty_Amp_14.csv
/Data/Empty_Amp_15.csv
/Data/Empty_Amp_16.csv
/Data/Empty_Amp_17.csv
/Data/Empty_Amp_18.csv
/Data/Empty_Amp_19.csv
/Data/Empty_Amp_20.csv
/Data/Empty_Amp_21.csv
/Data/Empty_Amp_22.csv
/Data/Empty_Amp_23.csv
/Data/Empty_Amp_24.csv
/Data/Empty_Amp_25.csv
/Data/Empty_Amp_26.csv
/Data/Empty_Amp_27.csv
/Data/Empty_Amp_28.csv
/Data/Empty_Amp_29.csv
/Data/Empty_Amp_30.csv
/Data/Empty_Amp_31.csv
/Data/Empty_Amp_32.csv
/Data/Empty_Amp_33.csv
/Data/Empty_Amp_34.csv
/Data/Empty_Amp_35.csv
/Data/Empty_Amp_36.csv
/Data/Empty_Amp_37.csv
/Data/Empty_Amp_38.csv
/Data/Empty_Amp_39.csv
/Data/Empty_Amp_40.csv
/Data/Empty_Amp_41.csv
/Data/Empty_Amp_42.csv
/Data/Empty_Amp_43.csv
/Data/Empty_Amp_44.csv
/Data/Empty_Amp_45.csv
/Data/Empty_Amp_46.csv
/Data/Empty_Amp_47.csv
/Data/Empty_Amp_48.csv
/Data/Empty_Amp_49.csv
/Data/Empty_Amp_50.csv
/Data/Empty_Amp_51.csv
/Data/Empty_Amp_52.csv
/Data/Empty_Amp_53.csv
/Data/Empty_Amp_54.csv
/Data/Empty_Amp_55.csv
/Data/Empty_Amp_56.csv
/Data/Empty_Amp_57.csv
/Data/Empty_Amp_58.csv
/Data/Empty_Amp_59.csv
/Data/Empty_Amp_60.csv
/Data/Empty_Amp_61.csv
/Data/Empty_Amp_62.csv
/Data/Empty_Amp_63.csv
/Data/Empty_Amp_64.csv
/Data/Empty_Amp_65.csv
/Data/Empty_Amp_66.csv
/Data/Empty_Amp_67.csv
/Data/Empty_Amp_68.csv
/Data/Empty_Amp_69.csv
/Data/Empty_Amp_70.csv
/Data/Empty_Amp_71.csv
/Data/Empty_Amp_72.csv
/Data/Empty_Amp_73.csv
/Data/Empty_Amp_74.csv
/Data/Empty_Amp_75.csv
/Data/Empty_Amp_76.csv
/Data/Empty_Amp_77.csv
/Data/Empty_Amp_78.csv
/Data/Empty_Amp_79.csv
/Data/Empty_Amp_80.csv
/Data/Empty_Amp_81.csv
/Data/Empty_Amp_82.csv
/Data/Empty_Amp_83.csv
/Data/Empty_Amp_84.csv
/Data/Empty_Amp_85.csv
/Data/Empty_Amp_86.csv
/Data/Empty_Amp_87.csv
/Data/Empty_Amp_88.csv
/Data/Empty_Amp_89.csv
/Data/Empty_Amp_90.csv
/Data/Empty_Amp_91.csv
/Data/Empty_Amp_92.csv
/Data/Empty_Amp_93.csv
/Data/Empty_Amp_94.csv
/Data/Empty_Amp_95.csv
/Data/Empty_Amp_96.csv
/Data/Empty_Amp_97.csv
/Data/Empty_Amp_98.csv
/Data/Empty_Amp_99.csv
/Data/Empty_Amp_100.csv
/Data/Empty_Amp_101.csv
/Data/Empty_Amp_102.csv
/Data/Empty_Amp_103.csv
/Data/Empty_Amp_104.csv
/Data/Empty_Amp_105.csv
/Data/Empty_Amp_106.csv
/Data/Empty_Amp_107.csv
/Data/Empty_Amp_108.csv
/Data/Empty_Amp_109.csv
/Data/Empty_Amp_110.csv
/Data/Empty_Amp_111.csv
/Data/Empty_Amp_112.csv
/Data/Empty_Amp_113.csv
/Data/Empty_Amp_114.csv
/Data/Empty_Amp_115.csv
/Data/Empty_Amp_116.csv
/Data/Empty_Amp_117.csv
/Data/Empty_Amp_118.csv
/Data/Empty_Amp_119.csv
/Data/Empty_Amp_120.csv
/Data/Empty_Amp_121.csv
/Data/Empty_Amp_122.csv
/Data/Empty_Amp_123.csv
/Data/Empty_Amp_124.csv
/Data/Empty_Amp_125.csv
/Data/Empty_Amp_126.csv
/Data/Empty_Amp_127.csv
/Data/Empty_Amp_128.csv
/Data/Empty_Amp_129.csv
/Data/Empty_Amp_130.csv
/Data/Empty_Amp_131.csv
/Data/Empty_Amp_132.csv
/Data/Empty_Amp_133.csv
/Data/Empty_Amp_134.csv
/Data/Empty_Amp_135.csv
/Data/Empty_Amp_136.csv
/Data/Empty_Amp_137.csv
/Data/Empty_Amp_138.csv
/Data/Empty_Amp_139.csv
/Data/Empty_Amp_140.csv
/Data/Empty_Amp_141.csv
/Data/Empty_Amp_142.csv
/Data/Empty_Amp_143.csv
/Data/Empty_Amp_144.csv
/Data/Empty_Amp_145.csv
/Data/Empty_Amp_146.csv
/Data/Empty_Amp_147.csv
/Data/Empty_Amp_148.csv
/Data/Empty_Amp_149.csv
/Data/Empty_Amp_150.csv
/Data/Empty_Amp_151.csv
/Data/Empty_Amp_152.csv
/Data/Empty_Amp_153.csv
/Data/Empty_Amp_154.csv
/Data/Empty_Amp_155.csv
/Data/Empty_Amp_156.csv
/Data/Empty_Amp_157.csv
/Data/Empty_Amp_158.csv
/Data/Empty_Amp_159.csv
/Data/Empty_Amp_160.csv
/Data/Empty_Amp_161.csv
/Data/Empty_Amp_162.csv
/Data/Empty_Amp_163.csv
/Data/Empty_Amp_164.csv
/Data/Empty_Amp_165.csv
/Data/Empty_Amp_166.csv
/Data/Empty_Amp_167.csv
/Data/Empty_Amp_168.csv
/Data/Empty_Amp_169.csv
/Data/Empty_Amp_170.csv
/Data/Empty_Amp_171.csv
/Data/Empty_Amp_172.csv
/Data/Empty_Amp_173.csv
/Data/Empty_Amp_174.csv
/Data/Empty_Amp_175.csv
/Data/Empty_Amp_176.csv
/Data/Empty_Amp_177.csv
/Data/Empty_Amp_178.csv
/Data/Empty_Amp_179.csv
/Data/Empty_Amp_180.csv
/Data/Empty_Amp_181.csv
/Data/Empty_Amp_182.csv
/Data/Empty_Amp_183.csv
/Data/Empty_Amp_184.csv
/Data/Empty_Amp_185.csv
/Data/Empty_Amp_186.csv
/Data/Empty_Amp_187.csv
/Data/Empty_Amp_188.csv
/Data/Empty_Amp_189.csv
/Data/Empty_Amp_190.csv
/Data/Empty_Amp_191.csv
/Data/Empty_Amp_192.csv
/Data/Empty_Amp_193.csv
/Data/Empty_Amp_194.csv
/Data/Empty_Amp_195.csv
/Data/Empty_Amp_196.csv
/Data/Empty_Amp_197.csv
/Data/Empty_Amp_198.csv
/Data/Empty_Amp_199.csv
/Data/Empty_Amp_200.csv
/Data/Empty_Amp_201.csv
/Data/Empty_Amp_202.csv
/Data/Empty_Amp_203.csv
/Data/Empty_Amp_204.csv
/Data/Empty_Amp_205.csv
/Data/Empty_Amp_206.csv
/Data/Empty_Amp_207.csv
/Data/Empty_Amp_208.csv
/Data/Empty_Amp_209.csv
/Data/Empty_Amp_210.csv
/Data/Empty_Amp_211.csv
/Data/Empty_Amp_212.csv
/Data/Empty_Amp_213.csv
/Data/Empty_Amp_214.csv
/Data/Empty_Amp_215.csv
/Data/Empty_Amp_216.csv
/Data/Empty_Amp_217.csv
/Data/Empty_Amp_218.csv
/Data/Empty_Amp_219.csv
/Data/Empty_Amp_220.csv
/Data/Empty_Amp_221.csv
/Data/Empty_Amp_222.csv
/Data/Empty_Amp_223.csv
/Data/Empty_Amp_224.csv
/Data/Empty_Amp_225.csv
/Data/Empty_Amp_226.csv
/Data/Empty_Amp_227.csv
/Data/Empty_Amp_228.csv
/Data/Empty_Amp_229.csv
/Data/Empty_Amp_230.csv
/Data/Empty_Amp_231.csv
/Data/Empty_Amp_232.csv
/Data/Empty_Amp_233.csv
/Data/Empty_Amp_234.csv
/Data/Empty_Amp_235.csv
/Data/Empty_Amp_236.csv
/Data/Empty_Amp_237.csv
/Data/Empty_Amp_238.csv
/Data/Empty_Amp_239.csv
/Data/Empty_Amp_240.csv
/Data/Empty_Amp_241.csv
/Data/Empty_Amp_242.csv
/Data/Empty_Amp_243.csv
/Data/Empty_Amp_244.csv
/Data/Empty_Amp_245.csv
/Data/Empty_Amp_246.csv
/Data/Empty_Amp_247.csv
/Data/Empty_Amp_248.csv
/Data/Empty_Amp_249.csv
/Data/Empty_Amp_250.csv
/Data/Empty_Amp_251.csv
/Data/Empty_Amp_252.csv
/Data/Empty_Amp_253.csv
/Data/Empty_Amp_254.csv
/Data/Empty_Amp_255.csv
/Data/Empty_Amp_256.csv
/Data/Empty_Amp_257.csv
/Data/Empty_Amp_258.csv
/Data/Empty_Amp_259.csv
/Data/Empty_Amp_260.csv
/Data/Empty_Amp_261.csv
/Data/Empty_Amp_262.csv
/Data/Empty_Amp_263.csv
/Data/Empty_Amp_264.csv
/Data/Empty_Amp_265.csv
/Data/Empty_Amp_266.csv
/Data/Lying_0.csv
/Data/Lying_Amp_1.csv
/Data/Lying_Amp_2.csv
/Data/Lying_Amp_3.csv
/Data/Lying_Amp_4.csv
/Data/Lying_Amp_5.csv
/Data/Lying_Amp_6.csv
/Data/Lying_Amp_7.csv
/Data/Lying_Amp_8.csv
/Data/Lying_Amp_9.csv
/Data/Lying_Amp_10.csv
/Data/Lying_Amp_11.csv
/Data/Lying_Amp_12.csv
/Data/Lying_Amp_13.csv
/Data/Lying_Amp_14.csv
/Data/Lying_Amp_15.csv
/Data/Lying_Amp_16.csv
/Data/Lying_Amp_17.csv
/Data/Lying_Amp_18.csv
/Data/Lying_Amp_19.csv
/Data/Lying_Amp_20.csv
/Data/Lying_Amp_21.csv
/Data/Lying_Amp_22.csv
/Data/Lying_Amp_23.csv
/Data/Lying_Amp_24.csv
/Data/Lying_Amp_25.csv
/Data/Lying_Amp_26.csv
/Data/Lying_Amp_27.csv
/Data/Lying_Amp_28.csv
/Data/Lying_Amp_29.csv
/Data/Lying_Amp_30.csv
/Data/Lying_Amp_31.csv
/Data/Lying_Amp_32.csv
/Data/Lying_Amp_33.csv
/Data/Lying_Amp_34.csv
/Data/Lying_Amp_35.csv
/Data/Lying_Amp_36.csv
/Data/Lying_Amp_37.csv
/Data/Lying_Amp_38.csv
/Data/Lying_Amp_39.csv
/Data/Lying_Amp_40.csv
/Data/Lying_Amp_41.csv
/Data/Lying_Amp_42.csv
/Data/Lying_Amp_43.csv
/Data/Lying_Amp_44.csv
/Data/Lying_Amp_45.csv
/Data/Lying_Amp_46.csv
/Data/Lying_Amp_47.csv
/Data/Lying_Amp_48.csv
/Data/Lying_Amp_49.csv
/Data/Lying_Amp_50.csv
/Data/Lying_Amp_51.csv
/Data/Lying_Amp_52.csv
/Data/Lying_Amp_53.csv
/Data/Lying_Amp_54.csv
/Data/Lying_Amp_55.csv
/Data/Lying_Amp_56.csv
/Data/Lying_Amp_57.csv
/Data/Lying_Amp_58.csv
/Data/Lying_Amp_59.csv
/Data/Lying_Amp_60.csv
/Data/Lying_Amp_61.csv
/Data/Lying_Amp_62.csv
/Data/Lying_Amp_63.csv
/Data/Lying_Amp_64.csv
/Data/Lying_Amp_65.csv
/Data/Lying_Amp_66.csv
/Data/Lying_Amp_67.csv
/Data/Lying_Amp_68.csv
/Data/Lying_Amp_69.csv
/Data/Lying_Amp_70.csv
/Data/Lying_Amp_71.csv
/Data/Lying_Amp_72.csv
/Data/Lying_Amp_73.csv
/Data/Lying_Amp_74.csv
/Data/Lying_Amp_75.csv
/Data/Lying_Amp_76.csv
/Data/Lying_Amp_77.csv
/Data/Lying_Amp_78.csv
/Data/Lying_Amp_79.csv
/Data/Lying_Amp_80.csv
/Data/Lying_Amp_81.csv
/Data/Lying_Amp_82.csv
/Data/Lying_Amp_83.csv
/Data/Lying_Amp_84.csv
/Data/Lying_Amp_85.csv
/Data/Lying_Amp_86.csv
/Data/Lying_Amp_87.csv
/Data/Lying_Amp_88.csv
/Data/Lying_Amp_89.csv
/Data/Lying_Amp_90.csv
/Data/Lying_Amp_91.csv
/Data/Lying_Amp_92.csv
/Data/Lying_Amp_93.csv
/Data/Lying_Amp_94.csv
/Data/Lying_Amp_95.csv
/Data/Lying_Amp_96.csv
/Data/Lying_Amp_97.csv
/Data/Lying_Amp_98.csv
/Data/Lying_Amp_99.csv
/Data/Lying_Amp_100.csv
/Data/Lying_Amp_101.csv
/Data/Lying_Amp_102.csv
/Data/Lying_Amp_103.csv
/Data/Lying_Amp_104.csv
/Data/Lying_Amp_105.csv
/Data/Lying_Amp_106.csv
/Data/Lying_Amp_107.csv
/Data/Lying_Amp_108.csv
/Data/Lying_Amp_109.csv
/Data/Lying_Amp_110.csv
/Data/Lying_Amp_111.csv
/Data/Lying_Amp_112.csv
/Data/Lying_Amp_113.csv
/Data/Lying_Amp_114.csv
/Data/Lying_Amp_115.csv
/Data/Lying_Amp_116.csv
/Data/Lying_Amp_117.csv
/Data/Lying_Amp_118.csv
/Data/Lying_Amp_119.csv
/Data/Lying_Amp_120.csv
/Data/Lying_Amp_121.csv
/Data/Lying_Amp_122.csv
/Data/Lying_Amp_123.csv
/Data/Lying_Amp_124.csv
/Data/Lying_Amp_125.csv
/Data/Lying_Amp_126.csv
/Data/Lying_Amp_127.csv
/Data/Lying_Amp_128.csv
/Data/Lying_Amp_129.csv
/Data/Lying_Amp_130.csv
/Data/Lying_Amp_131.csv
/Data/Lying_Amp_132.csv
/Data/Lying_Amp_133.csv
/Data/Lying_Amp_134.csv
/Data/Lying_Amp_135.csv
/Data/Lying_Amp_136.csv
/Data/Lying_Amp_137.csv
/Data/Lying_Amp_138.csv
/Data/Lying_Amp_139.csv
/Data/Lying_Amp_140.csv
/Data/Lying_Amp_141.csv
/Data/Lying_Amp_142.csv
/Data/Lying_Amp_143.csv
/Data/Lying_Amp_144.csv
/Data/Lying_Amp_145.csv
/Data/Lying_Amp_146.csv
/Data/Lying_Amp_147.csv
/Data/Lying_Amp_148.csv
/Data/Lying_Amp_149.csv
/Data/Lying_Amp_150.csv
/Data/Lying_Amp_151.csv
/Data/Lying_Amp_152.csv
/Data/Lying_Amp_153.csv
/Data/Lying_Amp_154.csv
/Data/Lying_Amp_155.csv
/Data/Lying_Amp_156.csv
/Data/Lying_Amp_157.csv
/Data/Lying_Amp_158.csv
/Data/Lying_Amp_159.csv
/Data/Lying_Amp_160.csv
/Data/Lying_Amp_161.csv
/Data/Lying_Amp_162.csv
/Data/Lying_Amp_163.csv
/Data/Lying_Amp_164.csv
/Data/Lying_Amp_165.csv
/Data/Lying_Amp_166.csv
/Data/Lying_Amp_167.csv
/Data/Lying_Amp_168.csv
/Data/Lying_Amp_169.csv
/Data/Lying_Amp_170.csv
/Data/Lying_Amp_171.csv
/Data/Lying_Amp_172.csv
/Data/Lying_Amp_173.csv
/Data/Lying_Amp_174.csv
/Data/Lying_Amp_175.csv
/Data/Lying_Amp_176.csv
/Data/Lying_Amp_177.csv
/Data/Lying_Amp_178.csv
/Data/Lying_Amp_179.csv
/Data/Lying_Amp_180.csv
/Data/Lying_Amp_181.csv
/Data/Lying_Amp_182.csv
/Data/Lying_Amp_183.csv
/Data/Lying_Amp_184.csv
/Data/Lying_Amp_185.csv
/Data/Lying_Amp_186.csv
/Data/Lying_Amp_187.csv
/Data/Lying_Amp_188.csv
/Data/Lying_Amp_189.csv
/Data/Lying_Amp_190.csv
/Data/Lying_Amp_191.csv
/Data/Lying_Amp_192.csv
/Data/Lying_Amp_193.csv
/Data/Lying_Amp_194.csv
/Data/Lying_Amp_195.csv
/Data/Lying_Amp_196.csv
/Data/Lying_Amp_197.csv
/Data/Lying_Amp_198.csv
/Data/Lying_Amp_199.csv
/Data/Lying_Amp_200.csv
/Data/Lying_Amp_201.csv
/Data/Lying_Amp_202.csv
/Data/Lying_Amp_203.csv
/Data/Lying_Amp_204.csv
/Data/Lying_Amp_205.csv
/Data/Lying_Amp_206.csv
/Data/Lying_Amp_207.csv
/Data/Lying_Amp_208.csv
/Data/Lying_Amp_209.csv
/Data/Lying_Amp_210.csv
/Data/Lying_Amp_211.csv
/Data/Lying_Amp_212.csv
/Data/Lying_Amp_213.csv
/Data/Lying_Amp_214.csv
/Data/Lying_Amp_215.csv
/Data/Lying_Amp_216.csv
/Data/Lying_Amp_217.csv
/Data/Lying_Amp_218.csv
/Data/Lying_Amp_219.csv
/Data/Lying_Amp_220.csv
/Data/Lying_Amp_221.csv
/Data/Lying_Amp_222.csv
/Data/Lying_Amp_223.csv
/Data/Lying_Amp_224.csv
/Data/Lying_Amp_225.csv
/Data/Lying_Amp_226.csv
/Data/Lying_Amp_227.csv
/Data/Lying_Amp_228.csv
/Data/Lying_Amp_229.csv
/Data/Lying_Amp_230.csv
/Data/Lying_Amp_231.csv
/Data/Lying_Amp_232.csv
/Data/Lying_Amp_233.csv
/Data/Lying_Amp_234.csv
/Data/Lying_Amp_235.csv
/Data/Lying_Amp_236.csv
/Data/Lying_Amp_237.csv
/Data/Lying_Amp_238.csv
/Data/Lying_Amp_239.csv
/Data/Lying_Amp_240.csv
/Data/Lying_Amp_241.csv
/Data/Lying_Amp_242.csv
/Data/Lying_Amp_243.csv
/Data/Lying_Amp_244.csv
/Data/Lying_Amp_245.csv
/Data/Lying_Amp_246.csv
/Data/Lying_Amp_247.csv
/Data/Lying_Amp_248.csv
/Data/Lying_Amp_249.csv
/Data/Lying_Amp_250.csv
/Data/Lying_Amp_251.csv
/Data/Lying_Amp_252.csv
/Data/Lying_Amp_253.csv
/Data/Lying_Amp_254.csv
/Data/Lying_Amp_255.csv
/Data/Lying_Amp_256.csv
/Data/Lying_Amp_257.csv
/Data/Lying_Amp_258.csv
/Data/Lying_Amp_259.csv
/Data/Lying_Amp_260.csv
/Data/Lying_Amp_261.csv
/Data/Lying_Amp_262.csv
/Data/Lying_Amp_263.csv
/Data/Lying_Amp_264.csv
/Data/Lying_Amp_265.csv
/Data/Lying_Amp_266.csv
/Data/Lying_Amp_267.csv
/Data/Lying_Amp_268.csv
/Data/Lying_Amp_269.csv
/Data/Lying_Amp_270.csv
/Data/Lying_Amp_271.csv
/Data/Lying_Amp_272.csv
/Data/Lying_Amp_273.csv
/Data/Lying_Amp_274.csv
/Data/Lying_Amp_275.csv
/Data/Lying_Amp_276.csv
/Data/Lying_Amp_277.csv
/Data/Lying_Amp_278.csv
/Data/Lying_Amp_279.csv
/Data/Lying_Amp_280.csv
/Data/Lying_Amp_281.csv
/Data/Lying_Amp_282.csv
/Data/Lying_Amp_283.csv
/Data/Lying_Amp_284.csv
/Data/Lying_Amp_285.csv
/Data/Lying_Amp_286.csv
/Data/Lying_Amp_287.csv
/Data/Lying_Amp_288.csv
/Data/Lying_Amp_289.csv
/Data/Lying_Amp_290.csv
/Data/Lying_Amp_291.csv
/Data/Lying_Amp_292.csv
/Data/Lying_Amp_293.csv
/Data/Lying_Amp_294.csv
/Data/Lying_Amp_295.csv
/Data/Lying_Amp_296.csv
/Data/Lying_Amp_297.csv
/Data/Lying_Amp_298.csv
/Data/Lying_Amp_299.csv
/Data/Lying_Amp_300.csv
/Data/Lying_Amp_301.csv
/Data/Lying_Amp_302.csv
/Data/Lying_Amp_303.csv
/Data/Lying_Amp_304.csv
/Data/Lying_Amp_305.csv
/Data/Lying_Amp_306.csv
/Data/Lying_Amp_307.csv
/Data/Lying_Amp_308.csv
/Data/Lying_Amp_309.csv
/Data/Lying_Amp_310.csv
/Data/Lying_Amp_311.csv
/Data/Lying_Amp_312.csv
/Data/Lying_Amp_313.csv
/Data/Lying_Amp_314.csv
/Data/Lying_Amp_315.csv
/Data/Lying_Amp_316.csv
/Data/Lying_Amp_317.csv
/Data/Lying_Amp_318.csv
/Data/Lying_Amp_319.csv
/Data/Lying_Amp_320.csv
/Data/Lying_Amp_321.csv
/Data/Lying_Amp_322.csv
/Data/Lying_Amp_323.csv
/Data/Lying_Amp_324.csv
/Data/Lying_Amp_325.csv
/Data/Lying_Amp_326.csv
/Data/Lying_Amp_327.csv
/Data/Lying_Amp_328.csv
/Data/Lying_Amp_329.csv
/Data/Lying_Amp_330.csv
/Data/Lying_Amp_331.csv
/Data/Lying_Amp_332.csv
/Data/Lying_Amp_333.csv
/Data/Lying_Amp_334.csv
/Data/Lying_Amp_335.csv
/Data/Lying_Amp_336.csv
/Data/Lying_Amp_337.csv
/Data/Lying_Amp_338.csv
/Data/Lying_Amp_339.csv
/Data/Lying_Amp_340.csv
/Data/Lying_Amp_341.csv
/Data/Lying_Amp_342.csv
/Data/Lying_Amp_343.csv
/Data/Lying_Amp_344.csv
/Data/Lying_Amp_345.csv
/Data/Lying_Amp_346.csv
/Data/Lying_Amp_347.csv
/Data/Lying_Amp_348.csv
/Data/Lying_Amp_349.csv
/Data/Lying_Amp_350.csv
/Data/model_plot_1.png
/Data/Sitting_0.csv
/Data/Sitting_Amp_1.csv
/Data/Sitting_Amp_2.csv
/Data/Sitting_Amp_3.csv
/Data/Sitting_Amp_4.csv
/Data/Sitting_Amp_5.csv
/Data/Sitting_Amp_6.csv
/Data/Sitting_Amp_7.csv
/Data/Sitting_Amp_8.csv
/Data/Sitting_Amp_9.csv
/Data/Sitting_Amp_10.csv
/Data/Sitting_Amp_11.csv
/Data/Sitting_Amp_12.csv
/Data/Sitting_Amp_13.csv
/Data/Sitting_Amp_14.csv
/Data/Sitting_Amp_15.csv
/Data/Sitting_Amp_16.csv
/Data/Sitting_Amp_17.csv
/Data/Sitting_Amp_18.csv
/Data/Sitting_Amp_19.csv
/Data/Sitting_Amp_20.csv
/Data/Sitting_Amp_21.csv
/Data/Sitting_Amp_22.csv
/Data/Sitting_Amp_23.csv
/Data/Sitting_Amp_24.csv
/Data/Sitting_Amp_25.csv
/Data/Sitting_Amp_26.csv
/Data/Sitting_Amp_27.csv
/Data/Sitting_Amp_28.csv
/Data/Sitting_Amp_29.csv
/Data/Sitting_Amp_30.csv
/Data/Sitting_Amp_31.csv
/Data/Sitting_Amp_32.csv
/Data/Sitting_Amp_33.csv
/Data/Sitting_Amp_34.csv
/Data/Sitting_Amp_35.csv
/Data/Sitting_Amp_36.csv
/Data/Sitting_Amp_37.csv
/Data/Sitting_Amp_38.csv
/Data/Sitting_Amp_39.csv
/Data/Sitting_Amp_40.csv
/Data/Sitting_Amp_41.csv
/Data/Sitting_Amp_42.csv
/Data/Sitting_Amp_43.csv
/Data/Sitting_Amp_44.csv
/Data/Sitting_Amp_45.csv
/Data/Sitting_Amp_46.csv
/Data/Sitting_Amp_47.csv
/Data/Sitting_Amp_48.csv
/Data/Sitting_Amp_49.csv
/Data/Sitting_Amp_50.csv
/Data/Sitting_Amp_51.csv
/Data/Sitting_Amp_52.csv
/Data/Sitting_Amp_53.csv
/Data/Sitting_Amp_54.csv
/Data/Sitting_Amp_55.csv
/Data/Sitting_Amp_56.csv
/Data/Sitting_Amp_57.csv
/Data/Sitting_Amp_58.csv
/Data/Sitting_Amp_59.csv
/Data/Sitting_Amp_60.csv
/Data/Sitting_Amp_61.csv
/Data/Sitting_Amp_62.csv
/Data/Sitting_Amp_63.csv
/Data/Sitting_Amp_64.csv
/Data/Sitting_Amp_65.csv
/Data/Sitting_Amp_66.csv
/Data/Sitting_Amp_67.csv
/Data/Sitting_Amp_68.csv
/Data/Sitting_Amp_69.csv
/Data/Sitting_Amp_70.csv
/Data/Sitting_Amp_71.csv
/Data/Sitting_Amp_72.csv
/Data/Sitting_Amp_73.csv
/Data/Sitting_Amp_74.csv
/Data/Sitting_Amp_75.csv
/Data/Sitting_Amp_76.csv
/Data/Sitting_Amp_77.csv
/Data/Sitting_Amp_78.csv
/Data/Sitting_Amp_79.csv
/Data/Sitting_Amp_80.csv
/Data/Sitting_Amp_81.csv
/Data/Sitting_Amp_82.csv
/Data/Sitting_Amp_83.csv
/Data/Sitting_Amp_84.csv
/Data/Sitting_Amp_85.csv
/Data/Sitting_Amp_86.csv
/Data/Sitting_Amp_87.csv
/Data/Sitting_Amp_88.csv
/Data/Sitting_Amp_89.csv
/Data/Sitting_Amp_90.csv
/Data/Sitting_Amp_91.csv
/Data/Sitting_Amp_92.csv
/Data/Sitting_Amp_93.csv
/Data/Sitting_Amp_94.csv
/Data/Sitting_Amp_95.csv
/Data/Sitting_Amp_96.csv
/Data/Sitting_Amp_97.csv
/Data/Sitting_Amp_98.csv
/Data/Sitting_Amp_99.csv
/Data/Sitting_Amp_100.csv
/Data/Sitting_Amp_101.csv
/Data/Sitting_Amp_102.csv
/Data/Sitting_Amp_103.csv
/Data/Sitting_Amp_104.csv
/Data/Sitting_Amp_105.csv
/Data/Sitting_Amp_106.csv
/Data/Sitting_Amp_107.csv
/Data/Sitting_Amp_108.csv
/Data/Sitting_Amp_109.csv
/Data/Sitting_Amp_110.csv
/Data/Sitting_Amp_111.csv
/Data/Sitting_Amp_112.csv
/Data/Sitting_Amp_113.csv
/Data/Sitting_Amp_114.csv
/Data/Sitting_Amp_115.csv
/Data/Sitting_Amp_116.csv
/Data/Sitting_Amp_117.csv
/Data/Sitting_Amp_118.csv
/Data/Sitting_Amp_119.csv
/Data/Sitting_Amp_120.csv
/Data/Sitting_Amp_121.csv
/Data/Sitting_Amp_122.csv
/Data/Sitting_Amp_123.csv
/Data/Sitting_Amp_124.csv
/Data/Sitting_Amp_125.csv
/Data/Sitting_Amp_126.csv
/Data/Sitting_Amp_127.csv
/Data/Sitting_Amp_128.csv
/Data/Sitting_Amp_129.csv
/Data/Sitting_Amp_130.csv
/Data/Sitting_Amp_131.csv
/Data/Sitting_Amp_132.csv
/Data/Sitting_Amp_133.csv
/Data/Sitting_Amp_134.csv
/Data/Sitting_Amp_135.csv
/Data/Sitting_Amp_136.csv
/Data/Sitting_Amp_137.csv
/Data/Sitting_Amp_138.csv
/Data/Sitting_Amp_139.csv
/Data/Sitting_Amp_140.csv
/Data/Sitting_Amp_141.csv
/Data/Sitting_Amp_142.csv
/Data/Sitting_Amp_143.csv
/Data/Sitting_Amp_144.csv
/Data/Sitting_Amp_145.csv
/Data/Sitting_Amp_146.csv
/Data/Sitting_Amp_147.csv
/Data/Sitting_Amp_148.csv
/Data/Sitting_Amp_149.csv
/Data/Sitting_Amp_150.csv
/Data/Sitting_Amp_151.csv
/Data/Sitting_Amp_152.csv
/Data/Standing_0.csv
/Data/Standing_Amp_1.csv
/Data/Standing_Amp_2.csv
/Data/Standing_Amp_3.csv
/Data/Standing_Amp_4.csv
/Data/Standing_Amp_5.csv
/Data/Standing_Amp_6.csv
/Data/Standing_Amp_7.csv
/Data/Standing_Amp_8.csv
/Data/Standing_Amp_9.csv
/Data/Standing_Amp_10.csv
/Data/Standing_Amp_11.csv
/Data/Standing_Amp_12.csv
/Data/Standing_Amp_13.csv
/Data/Standing_Amp_14.csv
/Data/Standing_Amp_15.csv
/Data/Standing_Amp_16.csv
/Data/Standing_Amp_17.csv
/Data/Standing_Amp_18.csv
/Data/Standing_Amp_19.csv
/Data/Standing_Amp_20.csv
/Data/Standing_Amp_21.csv
/Data/Standing_Amp_22.csv
/Data/Standing_Amp_23.csv
/Data/Standing_Amp_24.csv
/Data/Standing_Amp_25.csv
/Data/Standing_Amp_26.csv
/Data/Standing_Amp_27.csv
/Data/Standing_Amp_28.csv
/Data/Standing_Amp_29.csv
/Data/Standing_Amp_30.csv
/Data/Standing_Amp_31.csv
/Data/Standing_Amp_32.csv
/Data/Standing_Amp_33.csv
/Data/Standing_Amp_34.csv
/Data/Standing_Amp_35.csv
/Data/Standing_Amp_36.csv
/Data/Standing_Amp_37.csv
/Data/Standing_Amp_38.csv
/Data/Standing_Amp_39.csv
/Data/Standing_Amp_40.csv
/Data/Standing_Amp_41.csv
/Data/Standing_Amp_42.csv
/Data/Standing_Amp_43.csv
/Data/Standing_Amp_44.csv
/Data/Standing_Amp_45.csv
/Data/Standing_Amp_46.csv
/Data/Standing_Amp_47.csv
/Data/Standing_Amp_48.csv
/Data/Standing_Amp_49.csv
/Data/Standing_Amp_50.csv
/Data/Standing_Amp_51.csv
/Data/Standing_Amp_52.csv
/Data/Standing_Amp_53.csv
/Data/Standing_Amp_54.csv
/Data/Standing_Amp_55.csv
/Data/Standing_Amp_56.csv
/Data/Standing_Amp_57.csv
/Data/Standing_Amp_58.csv
/Data/Standing_Amp_59.csv
/Data/Standing_Amp_60.csv
/Data/Standing_Amp_61.csv
/Data/Standing_Amp_62.csv
/Data/Standing_Amp_63.csv
/Data/Standing_Amp_64.csv
/Data/Standing_Amp_65.csv
/Data/Standing_Amp_66.csv
/Data/Standing_Amp_67.csv
/Data/Standing_Amp_68.csv
/Data/Standing_Amp_69.csv
/Data/Standing_Amp_70.csv
/Data/Standing_Amp_71.csv
/Data/Standing_Amp_72.csv
/Data/Standing_Amp_73.csv
/Data/Standing_Amp_74.csv
/Data/Standing_Amp_75.csv
/Data/Standing_Amp_76.csv
/Data/Standing_Amp_77.csv
/Data/Standing_Amp_78.csv
/Data/Standing_Amp_79.csv
/Data/Standing_Amp_80.csv
/Data/Standing_Amp_81.csv
/Data/Standing_Amp_82.csv
/Data/Standing_Amp_83.csv
/Data/Standing_Amp_84.csv
/Data/Standing_Amp_85.csv
/Data/Standing_Amp_86.csv
/Data/Standing_Amp_87.csv
/Data/Standing_Amp_88.csv
/Data/Standing_Amp_89.csv
/Data/Standing_Amp_90.csv
/Data/Standing_Amp_91.csv
/Data/Standing_Amp_92.csv
/Data/Standing_Amp_93.csv
/Data/Standing_Amp_94.csv
/Data/Standing_Amp_95.csv
/Data/Standing_Amp_96.csv
/Data/Standing_Amp_97.csv
/Data/Standing_Amp_98.csv
/Data/Standing_Amp_99.csv
/Data/Standing_Amp_100.csv
/Data/Standing_Amp_101.csv
/Data/Standing_Amp_102.csv
/Data/Standing_Amp_103.csv
/Data/Standing_Amp_104.csv
/Data/Standing_Amp_105.csv
/Data/Standing_Amp_106.csv
/Data/Standing_Amp_107.csv
/Data/Standing_Amp_108.csv
/Data/Standing_Amp_109.csv
/Data/Standing_Amp_110.csv
/Data/Standing_Amp_111.csv
/Data/Standing_Amp_112.csv
/Data/Standing_Amp_113.csv
/Data/Standing_Amp_114.csv
/Data/Standing_Amp_115.csv
/Data/Standing_Amp_116.csv
/Data/Standing_Amp_117.csv
/Data/Standing_Amp_118.csv
/Data/Standing_Amp_119.csv
/Data/Standing_Amp_120.csv
/Data/Standing_Amp_121.csv
/Data/Standing_Amp_122.csv
/Data/Standing_Amp_123.csv
/Data/Standing_Amp_124.csv
/Data/Standing_Amp_125.csv
/Data/Standing_Amp_126.csv
/Data/Standing_Amp_127.csv
/Data/Standing_Amp_128.csv
/Data/Standing_Amp_129.csv
/Data/Standing_Amp_130.csv
/Data/Standing_Amp_131.csv
/Data/Standing_Amp_132.csv
/Data/Standing_Amp_133.csv
/Data/Standing_Amp_134.csv
/Data/Standing_Amp_135.csv
/Data/Standing_Amp_136.csv
/Data/Standing_Amp_137.csv
/Data/Standing_Amp_138.csv
/Data/Standing_Amp_139.csv
/Data/Standing_Amp_140.csv
/Data/Standing_Amp_141.csv
/Data/Standing_Amp_142.csv
/Data/Standing_Amp_143.csv
/Data/Standing_Amp_144.csv
/Data/Standing_Amp_145.csv
/Data/Standing_Amp_146.csv
/Data/Standing_Amp_147.csv
/Data/Standing_Amp_148.csv
/Data/Standing_Amp_149.csv
/Data/Standing_Amp_150.csv
/Data/Standing_Amp_151.csv
/Data/Standing_Amp_152.csv
/Data/Standing_Amp_153.csv
/Data/Standing_Amp_154.csv
/Data/Standing_Amp_155.csv
/Data/Standing_Amp_156.csv
/Data/Standing_Amp_157.csv
/Data/Standing_Amp_158.csv
/Data/Standing_Amp_159.csv
/Data/Standing_Amp_160.csv
/Data/Standing_Amp_161.csv
/Data/Standing_Amp_162.csv
/Data/Standing_Amp_163.csv
/Data/Standing_Amp_164.csv
/Data/Standing_Amp_165.csv
/Data/Standing_Amp_166.csv
/Data/Standing_Amp_167.csv
/Data/Standing_Amp_168.csv
/Data/Standing_Amp_169.csv
/Data/Standing_Amp_170.csv
/Data/Standing_Amp_171.csv
/Data/Standing_Amp_172.csv
/Data/Standing_Amp_173.csv
/Data/Standing_Amp_174.csv
/Data/Standing_Amp_175.csv
/Data/Standing_Amp_176.csv
/Data/Standing_Amp_177.csv
/Data/Standing_Amp_178.csv
/Data/Standing_Amp_179.csv
/Data/Standing_Amp_180.csv
/Data/Standing_Amp_181.csv
/Data/Standing_Amp_182.csv
/Data/Standing_Amp_183.csv
/Data/Standing_Amp_184.csv
/Data/Standing_Amp_185.csv
/Data/Standing_Amp_186.csv
/Data/Standing_Amp_187.csv
/Data/Standing_Amp_188.csv
/Data/Standing_Amp_189.csv
/Data/Standing_Amp_190.csv
/Data/Standing_Amp_191.csv
/Data/Standing_Amp_192.csv
/Data/Standing_Amp_193.csv
/Data/Standing_Amp_194.csv
/Data/Standing_Amp_195.csv
/Data/Standing_Amp_196.csv
/Data/Standing_Amp_197.csv
/Data/Standing_Amp_198.csv
/Data/Standing_Amp_199.csv
/Data/Standing_Amp_200.csv
/Data/Standing_Amp_201.csv
/Data/Standing_Amp_202.csv
/Data/Standing_Amp_203.csv
/Data/Standing_Amp_204.csv
/Data/Standing_Amp_205.csv
/Data/Standing_Amp_206.csv
/Data/Standing_Amp_207.csv
/Data/Standing_Amp_208.csv
/Data/Standing_Amp_209.csv
/Data/Standing_Amp_210.csv
/Data/Standing_Amp_211.csv
/Data/Standing_Amp_212.csv
/Data/Standing_Amp_213.csv
/Data/Standing_Amp_214.csv
/Data/Standing_Amp_215.csv
/Data/Standing_Amp_216.csv
/Data/Standing_Amp_217.csv
/Data/Standing_Amp_218.csv
/Data/Standing_Amp_219.csv
/Data/Standing_Amp_220.csv
/Data/Walking_0.csv
/Data/Walking_1.csv
/Data/Walking_2.csv
/Data/Walking_3.csv
/Data/Walking_4.csv
/Data/Walking_5.csv
/Data/Walking_6.csv
/Data/Walking_7.csv
/Data/Walking_8.csv
/Data/Walking_9.csv
/Data/Walking_10.csv
/Data/Walking_11.csv
/Data/Walking_12.csv
/Data/Walking_13.csv
/Data/Walking_14.csv
/Data/Walking_15.csv
/Data/Walking_16.csv
/Data/Walking_17.csv
/Data/Walking_18.csv
/Data/Walking_19.csv
/Data/Walking_20.csv
/Data/Walking_21.csv
/Data/Walking_22.csv
/Data/Walking_23.csv
/Data/Walking_24.csv
/Data/Walking_25.csv
/Data/Walking_26.csv
/Data/Walking_27.csv
/Data/Walking_28.csv
/Data/Walking_29.csv
/Data/Walking_30.csv
/Data/Walking_31.csv
/Data/Walking_32.csv
/Data/Walking_33.csv
/Data/Walking_34.csv
/Data/Walking_35.csv
/Data/Walking_36.csv
/Data/Walking_37.csv
/Data/Walking_38.csv
/Data/Walking_39.csv
/Data/Walking_40.csv
/Data/Walking_41.csv
/Data/Walking_42.csv
/Data/Walking_43.csv
/Data/Walking_44.csv
/Data/Walking_45.csv
/Data/Walking_46.csv
/Data/Walking_47.csv
/Data/Walking_48.csv
/Data/Walking_49.csv
/Data/Walking_50.csv
/Data/Walking_51.csv
/Data/Walking_52.csv
/Data/Walking_53.csv
/Data/Walking_54.csv
/Data/Walking_55.csv
/Data/Walking_56.csv
/Data/Walking_57.csv
/Data/Walking_58.csv
/Data/Walking_59.csv
/Data/Walking_60.csv
/Data/Walking_61.csv
/Data/Walking_62.csv
/Data/Walking_63.csv
/Data/Walking_64.csv
/Data/Walking_65.csv
/Data/Walking_66.csv
/Data/Walking_67.csv
/Data/Walking_68.csv
/Data/Walking_69.csv
/Data/Walking_70.csv
/Data/Walking_71.csv
/Data/Walking_72.csv
/Data/Walking_73.csv
/Data/Walking_74.csv
/Data/Walking_75.csv
/Data/Walking_76.csv
/Data/Walking_77.csv
/Data/Walking_78.csv
/Data/Walking_79.csv
/Data/Walking_80.csv
/Data/Walking_81.csv
/Data/Walking_82.csv
/Data/Walking_83.csv
/Data/Walking_84.csv
/Data/Walking_85.csv
/Data/Walking_86.csv
/Data/Walking_87.csv
/Data/Walking_88.csv
/Data/Walking_89.csv
/Data/Walking_90.csv
/Data/Walking_91.csv
/Data/Walking_92.csv
/Data/Walking_93.csv
/Data/Walking_94.csv
/Data/Walking_95.csv
/Data/Walking_96.csv
/Data/Walking_97.csv
/Data/Walking_98.csv
/Data/Walking_99.csv
/Data/Walking_100.csv
/Data/Walking_101.csv
/Data/Walking_102.csv
/Data/Walking_103.csv
/Data/Walking_104.csv
/Data/Walking_105.csv
/Data/Walking_106.csv
/Data/Walking_107.csv
/Data/Walking_108.csv
/Data/Walking_109.csv
/Data/Walking_110.csv
/Data/Walking_111.csv
/Data/Walking_112.csv
/Data/Walking_113.csv
/Data/Walking_114.csv
/Data/Walking_115.csv
/Data/Walking_116.csv
/Data/Walking_117.csv
/Data/Walking_118.csv
/Data/Walking_119.csv
/Data/Walking_120.csv
/Data/Walking_121.csv
/Data/Walking_122.csv
/Data/Walking_123.csv
/Data/Walking_124.csv
/Data/Walking_125.csv
/Data/Walking_126.csv
/Data/Walking_127.csv
/Data/Walking_128.csv
/Data/Walking_129.csv
/Data/Walking_130.csv
/Data/Walking_131.csv
/Data/Walking_132.csv
/Data/Walking_133.csv
/Data/Walking_134.csv
/Data/Walking_135.csv
/Data/Walking_136.csv
/Data/Walking_137.csv
/Data/Walking_138.csv
/Data/Walking_139.csv
/Data/Walking_140.csv
/Data/Walking_141.csv
/Data/Walking_142.csv
/Data/Walking_143.csv
/Data/Walking_144.csv
/Data/Walking_145.csv
/Data/Walking_146.csv
/Data/Walking_147.csv
/Data/Walking_148.csv
/Data/Walking_149.csv
/Data/Walking_150.csv
/Data/Walking_151.csv
/Data/Walking_152.csv
/Data/Walking_153.csv
/Data/Walking_154.csv
/Data/Walking_155.csv
/Data/Walking_156.csv
/Data/Walking_157.csv
/Data/Walking_158.csv
/Data/Walking_159.csv
/Data/Walking_160.csv
/Data/Walking_161.csv
/Data/Walking_162.csv
/Data/Walking_163.csv
/Data/Walking_164.csv
/Data/Walking_165.csv
/Data/Walking_166.csv
/Data/Walking_167.csv
/Data/Walking_168.csv
/Data/Walking_169.csv
/Data/Walking_170.csv
/Data/Walking_171.csv
/Data/Walking_172.csv
/Data/Walking_173.csv
/Data/Walking_174.csv
/Data/Walking_175.csv
/Data/Walking_176.csv
/Data/Walking_177.csv
/Data/Walking_178.csv
/Data/Walking_179.csv
/Data/Walking_180.csv
/Data/Walking_181.csv
/Data/Walking_182.csv
/Data/Walking_183.csv
/Data/Walking_184.csv
/Data/Walking_185.csv
/Data/Walking_186.csv
/Data/Walking_187.csv
/Data/Walking_188.csv
/Data/Walking_189.csv
/Data/Walking_190.csv
/Data/Walking_191.csv
/Data/Walking_192.csv
/Data/Walking_193.csv
/Data/Walking_194.csv
/Data/Walking_195.csv
/Data/Walking_196.csv
/Data/Walking_197.csv
/Data/Walking_198.csv
/Data/Walking_199.csv
/Data/Walking_200.csv
/Data/Walking_201.csv
/Data/Walking_202.csv
/Data/Walking_203.csv
/Data/Walking_204.csv
/Data/Walking_205.csv
/Data/Walking_206.csv
/Data/Walking_207.csv
/Data/Walking_208.csv
